.card{
    background-color:transparent;
    img{
        width: 100%;
    }
    &-01{
        &__img{
            &::before{
                padding-top: 120%;
                @include respond-above(md) {
                    padding-top: 129%;
                }
                @include respond-above(lg) {
                    padding-top: 121%;
                }
            }
            img{
                transform: scale(1);
                transition: all 0.5s ease;
            }
        }
        &__title{
            position: absolute;
            right: rem(10px);
            top: rem(10px);
            color: $white;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }
    &-02{
        &__img{
            margin-bottom: rem(40px);
            &::before{
                padding-top: 56.75%
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__title{
            color: $gray-800;
            background-color: $white;
            padding: rem(4px 24px);
            border-radius: 12px;
            transition: all 0.5s ease;
            @include respond-above(md) {
                padding: rem(6px 28px);
            }
            @include respond-above(lg) {
                padding: rem(8px 42px);
            }
        }
        &:hover{
            .card-02__title{
                background-color: $primary;
                color: $white;
            }
        }
    }
    &-04{
        img{
            transform: scale(1);
            transition: all 0.5s ease;
        }
        &:hover{
            .overlay{
                opacity: 0.5;
            }
            .card-04__hover-item{
                opacity: 1;
                visibility: visible
            }
            img{
                transform: scale(1.1);
            }
        }
        &__hover-item{
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 8;
            opacity: 0;
            visibility: hidden;
            width: 100%;
        }
        &__title{
            padding-top: rem(16px);
            a{
                color: $gray-900;
            }
        }
        &__price{
            padding-top: rem(10px);
        }
        &__img{
            &::after{
                padding-bottom: rem(240px);
                @include respond-above(sm) {
                    padding-bottom: rem(280px);
                }
                @include respond-above(md) {
                    padding-bottom: rem(320px);
                }
                @include respond-above(lg) {
                    padding-bottom: rem(380px);
                }
                @include respond-above(xl) {
                    padding-bottom: rem(400px);
                }
                @include respond-above(xxl) {
                    padding-bottom: rem(420px);
                }
            }
        }
    }
    &-05{
        &__title{
            font-family: $font-family-monospace;
            color: $white;
            font-weight: normal;
            font-style: normal;
            font-size: rem(16px);
            line-height: rem(32px);
            @include respond-above(sm) {
                font-size: rem(16px);
                line-height: rem(32px);
            }
            @include respond-above(md) {
                font-size: rem(20px);
                line-height: rem(48px);
            }
            @include respond-above(lg) {
                font-size: rem(30px);
                line-height: rem(64px);
            }
            @include respond-above(xl) {
                font-size: rem(42px);
                line-height: rem(72px);
            }
        }
        &__category{
            color: $white;
            padding-bottom: rem(8px);
        }
        &__img{
            &::after{
                position: absolute;
                content: '';
                left:0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background-color: $pink;
                opacity: 0.1;
            }
            &::before{
                padding-top: 100%;
                @include respond-above(sm) {
                    padding-top: 67.89%;
                }
                @include respond-above(md) {
                    padding-top: 43.89%;
                }
            }
        }
        &__wrap{
            z-index: 9;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
        .btn{
            margin-top: rem(8px);
            @include respond-above(sm) {
                margin-top: rem(12px);
            }
            @include respond-above(md) {
                margin-top: rem(20px);
            }
            @include respond-above(lg) {
                margin-top: rem(30px);
            }
            @include respond-above(xl) {
                margin-top: rem(40px);
            }
        }
    }
    &-06{
        position: relative;
        overflow: hidden;
        &__category{
            color: $primary;
            text-transform: uppercase;
        }
        &__title{
            padding-bottom: rem(8px);
        }
        &__img{
            width: 100vw;
            @include respond-above(md) {
                width: 50vw;
            }
            &::before{
                padding-top: 118.64%;
            }
        }
        &__wrap{
            padding: rem(40px 0);
            position: relative;
            z-index: 9;
            @include respond-above(md) {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                padding-left: rem(20px);
                padding-left: rem(20px);
            }
            @include respond-above(lg) {
                padding-left: rem(80px);
            }
            .row{
                justify-content: flex-end;
            }
        }
        &::after{
            position: absolute;
            content: '';
            width: rem(60px);
            height: rem(60px);
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $pink-lt;
            border-radius: 50%;
            @include respond-above(sm) {
                width: rem(140px);
                height: rem(140px);
                right: -70px;
            }
            @include respond-above(md) {
                width: rem(180px);
                height: rem(180px);
                right: -90x;
            }
            @include respond-above(lg) {
                width: rem(60px);
                height: rem(232px);
                right: -116px;
            }
        }
        &:nth-child(even){
            .card-06{
                &__wrap{
                    @include respond-above(md) {
                        padding-right: rem(40px);
                    }
                    @include respond-above(lg) {
                        padding-right: rem(80px);
                    }
                    .row{
                        justify-content: flex-start;
                    }
                }
                &__img{
                    margin-left: auto;
                }
            }
            &:after{
                left:-30px;
                right: auto;
                @include respond-above(sm) {
                    left:-70px;
                }
                @include respond-above(md) {
                    left:-90px;
                }
                @include respond-above(lg) {
                    left:-116px;
                }
            }
        }
    }
    &-07{
        &__img{
            &::before{
                padding-top: 133.33%;
            }
        }
    }
}