.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: rem(0px);
}

.h1,h1 {
    font-size: rem(36px);
    line-height: rem(36px);
    @include respond-above(sm) {
        font-size: rem(42px);
        line-height: rem(42px);
    }
    @include respond-above(md) {
        font-size: rem(46px);
        line-height: rem(46px);
    }
    @include respond-above(lg) {
        font-size: rem(50px);
        line-height: rem(50px);
    }
    @include respond-above(xl) {
        font-size: rem(54px);
        line-height: rem(54px);
    }
}

.h2,h2 {
    font-size: rem(32px);
    line-height: rem(32px);
    @include respond-above(sm) {
        font-size: rem(36px);
        line-height: rem(36px);
    }
    @include respond-above(md) {
        font-size: rem(40px);
        line-height: rem(40px);
    }
    @include respond-above(lg) {
        font-size: rem(44px);
        line-height: rem(44px);
    }
    @include respond-above(xl) {
        font-size: rem(48px);
        line-height: rem(48px);
    }
}

.h3,h3 {
    font-size: rem(28px);
    line-height: rem(32px);
    @include respond-above(sm) {
        font-size: rem(30px);
        line-height: rem(42px);
    }
    @include respond-above(md) {
        font-size: rem(32px);
        line-height: rem(38px);
    }
    @include respond-above(lg) {
        font-size: rem(34px);
        line-height: rem(44px);
    }
    @include respond-above(xl) {
        font-size: rem(42px);
        line-height: rem(62px);
    }
}

.h4, h4 {
    font-size: rem(22px);
    line-height: rem(22px);
    @include respond-above(md) {
        font-size: rem(24px);
        line-height: rem(24px);
    }
    @include respond-above(md) {
        font-size: rem(28px);
        line-height: rem(28px);
    }
    @include respond-above(lg) {
        font-size: rem(32px);
        line-height: rem(32px);
    }
    @include respond-above(xl) {
        font-size: rem(36px);
        line-height: rem(36px);
    }
}

.h5,h5 {
    font-size: rem(20px);
    line-height: rem(28px);
    @include respond-above(md) {
        font-size: rem(22px);
        line-height: rem(32px);
    }
    @include respond-above(lg) {
        font-size: rem(24px);
        line-height: rem(38px);
    }
}

.h6,h6 {
    font-size: rem(18px);
    line-height: rem(28px);
    @include respond-above(md) {
        font-size: rem(20px);
        line-height: rem(32px);
    }
}

.p{
    font-size: rem(16px);
    line-height: rem(28px);
    @include respond-above(md) {
        font-size: rem(18px);
        line-height: rem(32px);
    }
    &-sm{
        font-size: rem(14px);
        line-height: rem(16px);
        letter-spacing: 1px;
    }
}
